@font-face {
  font-family: 'Space Grotesk';
  src: url('https://fonts.google.com/specimen/Space+Grotesk');
  font-weight: 500;
}

*{
  padding: 0;
  margin: 0;
}

.App{
  content: '';
  position: absolute;
  background-image:url('./images/bg-main-desktop.png');
  background-repeat: no-repeat;
  background-color:  hsl(0, 0%, 100%);
  background-size:contain;
}
