@font-face {
  font-family: 'Montserrat';
  src: url('https://fonts.google.com/specimen/Montserrat');
  font-weight: 500;
}

@font-face{
  font-family: 'Fraunces';
  src: url('https://fonts.google.com/specimen/Fraunces');
  font-weight:700;
}

*{
  padding: 0;
  margin: 0;
}

body,html{
  background-color: hsl(30, 38%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;

}
.card-component{
  width: 80%;
  height: 26rem;
  background-color: hsl(0, 0%, 100%);
}

img{
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
}

.text-title{
  font-size: 14px;
  letter-spacing: .5rem;
}

.text-name{
  font-family: 'Fraunces';
  font-weight: 700;
  font-size: 1.5rem;
}
.btn-add-cart{
 background-color: hsl(158, 36%, 37%); 
 color: white
}
.btn-add-cart svg{
  color:white;
}

.btn-add-cart:hover{
  background-color: hsl(212, 21%, 14%);
}

.text-title, .text-description, .text-normal-price{
  color: hsl(228, 12%, 48%);
}
