@font-face {
    font-family: 'Space Grotesk';
    src: url('https://fonts.google.com/specimen/Space+Grotesk');
    font-weight: 500;
  }
label{
    font-family: 'Space Grotesk';
    font-weight: 500;
}

.btn-confirm{
  background-color: hsl(278, 68%, 11%);
}
input{
  border: 1px solid hsl(270, 3%, 87%);
}
input:focus-visible{
  outline: none;
  border:1px solid #8755c4;
}

border-invalid{
  border: 1px solid hsl(0, 100%, 66%);
}
